html {
    width: 100%;
    height: 100%;
    background-color: #e6e7ee;
}
h1 {
    color: #31344b;
}
#main {
    margin: 10px;
}
#main > div {
    margin-top: 5px;
    display: flex;
}
a {
    display: flex;
    color: #31344b;
    text-decoration: none;
}
.a > a::after {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-link%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%2331344b%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cpath%20d%3D%22M10%2014a3.5%203.5%200%200%200%205%200l4%20-4a3.5%203.5%200%200%200%20-5%20-5l-.5%20.5%22%20%2F%3E%20%3Cpath%20d%3D%22M14%2010a3.5%203.5%200%200%200%20-5%200l-4%204a3.5%203.5%200%200%200%205%205l.5%20-.5%22%20%2F%3E%3C%2Fsvg%3E')
}
iframe {
    box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff;
    border: .0625rem solid #d1d9e6;
    padding: 20px;
    border-radius: .25rem;
}
body {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
}
input {
    width: calc(100% - 75px);
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    margin-top: 10px;

    background-color: #e6e7ee;
    border-radius: .55rem;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
    transition: box-shadow .15s;
}
input:focus-visible {
    outline: none;
    box-shadow: none;
}
button {
    width: 65px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    font-size: 14px;
    cursor: pointer;

    border-radius: .55rem;
    margin-left: 10px;
    background-color: #e6e7ee;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    transition: box-shadow .15s;
}
button:hover {
    box-shadow: none;
}